@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Biryani&family=Rubik+Distressed&family=Rubik+Marker+Hatch&display=swap');

h1, h2, h3, h4, h5, p, nav, a{
  font-family: 'Biryani';
}

a {
  margin-left: 2rem;
}

a:hover {
  color:#195F85;
}


.main-logo {
  width: 15rem;
  margin-top: 1rem; 
}

.top-bar {
  background-color: #FFFF;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  // background-color: #c4ced3;
}

a.taproom-nav-bar-link{
  font-style: bold;
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}

a.taproom-nav-bar-link:hover{
  color:$button
}

.home-page-top-image {
  // height: 550px;
  height: 45rem;
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.home-page-link-to-taprooms {
  font-style: bold;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  background-color: $button;
  border-radius: 1rem;
}

.home-page{
  text-align: center;
} 

.home-page-subtitle {
  color: $title;
  font-size: 3rem;
  font-weight: bold;
  margin: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.home-page-info-block {
  font-size: 1.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.home-page-image {
  width: 300.33%;
}

.taproom-index-page-title {
  font-weight: bold;
  text-align: center;
  width: 150%;
  margin-top: 15rem;;
}

.taproom-index {
  margin: 1rem;
}

.taproom-logo-image-box {
  height: 35rem;
  margin-top: 1rem;
}

.taproom-show-image {
  width: 100%;
  margin-bottom: 1rem;
}

.taproom-show-name {
  font-weight: bold;
  text-align: center;
  margin-top:10rem;
}

.taproom-show-link-to-beer-index {
  font-size: 1.5rem;
  color: white;
  background-color: $button;
  border-radius: 1rem;
  padding: .5rem
}

.taproom-location {
  margin: 1rem 2rem;
  border: solid;
  width: 20rem;
}

.social-buttons {
  border: solid;
  width: 20rem;
  margin: 1rem 2rem;
}

.instagram-logo {
  height: 3rem;
}

.twitter-logo {
  height: 4.25rem;
}

.facebook-logo {
  height: 4rem;
}

.taproom-hours {
  margin: 1rem 2rem;
  width: 20rem;
  border: solid;
}

.taproom-faq {
  margin: 1rem 2rem;
  margin-bottom: 1rem;
  width: 50rem;
  border: solid;
}

.taproom-description {
  margin: 1rem 2rem;
  margin-bottom: 1rem;
  width: 85rem;
  border: solid;
}

.search-bar {
  margin-top: 30px;
}

.beer-index {
  margin-top: 20px;
}

.beer-show-name {
  margin-top: 100px;
  text-align: center;
}

.button {
  border-radius: 1rem;
  background-color: $button;
  color: white; 
  font-size: 1.5rem;
  font-weight: bold;
}

.user-account {
  margin-top: 10rem;
}

.form-field {
  height: 4rem;
  width: 25rem;
  border-radius: 1rem;
}

.taproom-review-form {
  margin-left: 2rem;;
}

.new-beer {
  margin-left: 2rem;
}

.review-tile {
  margin: 2rem;
}

.field {
  border-radius: 1rem;
  margin: 2rem;
}

.input{
  border-radius: 1rem;
}

.sign-up {
  border-radius: 1rem;
}

.actions {
  color: pink;
}

input[type="submit"] {
  background-color: $button;
  color: white;
  margin-left: 2rem;
  border-radius: 1rem;
}

input[type="email"] {
  border-radius: 1rem;
}

input[type="password"] {
  border-radius: 1rem;
}

.sign {
  color:black;
}

input[type="search"]{
  border-radius: 1rem;
}

.review-tile {
  text-align: left;
}

.beer-index {
  margin: 1rem;
}

.beer-logo-image-tile {
  height: 25rem;
  margin-top: 1rem;
}

.beer-logo-image-box{
  margin: 1rem;
}

.beer-show-name {
  margin-top: 9rem;
}

.beer-show-image {
  width: 55%;
  margin-bottom: 1rem;
  margin: 2rem;
}