@import "colors";
@import "foundation-imports";
@import url("https://fonts.googleapis.com/css2?family=Biryani&family=Rubik+Distressed&family=Rubik+Marker+Hatch&display=swap");

//overall styling
h1,
h2,
h3,
h4,
h5,
p,
a,
li,
ul {
  font-family: "Biryani";
  background-color: white;
}
a {
  color: black;
  font-weight: bold;
  background-color: white;
}

a:hover {
  color: $main-theme;
}

//nav bar styling
.main-logo {
  width: 15rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.top-bar {
  background-color: #ffff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
}

a.taproom-nav-bar-link {
  font-style: bold;
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}

a.taproom-nav-bar-link:hover {
  color: $button;
}

a.sign-up {
  color: green;
}

//home page styling
.home-page {
  text-align: center;
  margin: 0rem;
}

.home-page-subtitle {
  color: $title;
  font-size: 3rem;
  font-weight: bold;
  // margin: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.home-page-info-block {
  font-size: 1.5rem;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 5rem;
}

.home-page-link-to-taprooms {
  position: relative;
}

.home-page-images {
  margin: 0rem;
}

//sign in page styling
.user-sessions-welcome {
  text-align: center;
  font-weight: bold;
  color: $main-theme;
  font-size: 2rem;
  padding-top: 1rem;
}

.login-signup-page {
  margin-top: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 2rem;
}

.new-user {
  border-radius: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

label {
  text-align: center;
}

.field {
  display: grid;
  justify-content: center;
}

#user_email,
#user_password,
#user_username,
#user_password_confirmation {
  border-radius: 1rem;
  text-align: center;
  width: 50%;
}

#user_email:hover,
#user_username:hover,
#user_password:hover,
#user_password_confirmation:hover {
  color: red;
}

input[type="submit"] {
  color: white;
  background-color: $main-theme;
  text-align: center;
}

//sign-up styling

.existing-user {
  border-radius: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

//taproom index styling

.taproom-index-page-title {
  color: $main-theme;
  background-color: white;
  position: fixed;
  text-align: center;
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 10rem;
  font-weight: bold;
  padding-top: 2rem;
}
.search-bar {
  // position: fixed;
  // background-color: white;
  // color: black;
  margin: 0rem;
  margin-top: 15rem;
  margin-left: 15rem;
  margin-right: 15rem;
}

input[type="search"] {
  text-align: center;
  color: black;
  font-weight: bold;
  border-radius: 2rem;
}

.taproom-index-page-title {
  margin: 0rem;
  text-align: center;
  margin-bottom: 1rem;
}
.taproom-index-tile-logo {
  height: 20rem;
}

//styling taproom show page
.taproom-show-page {
  padding-left: 5rem;
  padding-right: 5.5rem;
}

.taproom-top-section {
  margin-top: 8rem;
  // border-color: purple;
  // border-style: solid;
}

.taproom-show-image {
  width: 100%;
  height: 35rem;
  padding-top: 1rem;
}

.taproom-show-name {
  margin-left: 0rem;
  padding-top: 0.5rem;
  margin-bottom: 0rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.taproom-info {
  width: 50%;
  padding-left: 2rem;
}

.taproom-city-state {
  font-weight: bold;
}

hr {
  background-color: #000;
  height: 0.1rem;
}

.taproom-hours-of-operation {
  color: #808080;
}

.taproom-days ul {
  list-style: none;
  margin-left: 0rem;
  font-size: large;
}

.taproom-hours ul {
  list-style: none;
  text-align: right;
  font-size: larger;
}

.taproom-show-buttons {
  margin-top: 5rem;
}

//styling social media icons

@mixin social-button($brand-color, $brand-icon) {
  background: $brand-color;

  &:before {
    font-family: "FontAwesome";
    content: $brand-icon;
  }
  &:hover,
  &:focus {
    color: $brand-color;
    background: $white;
    border-color: $brand-color;
  }
}

@mixin social-button($brand-color, $brand-icon) {
  background: $brand-color;

  &:before {
    font-family: "FontAwesome";
    content: $brand-icon;
  }
  &:hover,
  &:focus {
    color: $brand-color;
    background: white;
    border-color: $brand-color;
  }
}

.rounded-social-buttons {
  text-align: center;
  // border-color: $main-theme;
  // border-style: solid;

  .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: $social-button-size;
    height: $social-button-size;
    border: $social-button-border-width solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: $social-button-font-size;
    font-weight: normal;
    line-height: $social-button-line-height;
    border-radius: $social-button-border-radius;
    transition: $social-button-transition;
    margin-right: $social-button-margin;
    margin-bottom: $social-button-margin;

    //     &:hover,
    //     &:focus {
    //       transform: rotate(360deg);
    //     }

    //     &.facebook {
    //       @include social-button($social-brand-facebook, "\f09a");
    //     }

    //     &.twitter {
    //       @include social-button($social-brand-twitter, "\f099");
    //     }

    //     &.instagram {
    //       @include social-button($social-brand-instagram, "\f16d");
    //     }
  }
}

// .on-tap-link {
//   border-color: $main-theme;
//   border-style: solid;
//   text-align: center;
//   align-items: center;
// }

.taproom-show-link-to-beer-index {
  border-style: solid;
  border-color: $main-theme;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.15rem;
}

.taproom-show-link-to-beer-index:hover {
  color: white;
  background-color: $main-theme;
}

.taproom-show-additional-info {
  border-style: solid;
  border-color: pink;
  margin-top: 3rem;
}

.taproom-faq-title {
  font-weight: bold;
  border-style: solid;
  border-color: purple;
  text-align: center;
}

.taproom-faq {
  border-color: blue;
}

.taproom-description {
  border-style: solid;
  border-color: green;
}

.taproom-show-review-tiles {
  border-style: solid;
  border-color: red;
}

.taproom-show-beer-index {
  margin: 0rem;
  text-align: center;
  border-style: solid;
  border-color: blue;
}

//beer index styling

// .beer-index-page-title {
//   color: $main-theme;
//   background-color: white;
//   position: fixed;
//   text-align: center;
//   width: 100%;
//   margin-top: 7rem;
//   margin-bottom: 10rem;
//   font-weight: bold;
//   padding-top: 2rem;
// }
// .search-bar {
//   // position: fixed;
//   // background-color: white;
//   // color: black;
//   margin: 0rem;
//   margin-top: 15rem;
//   margin-left: 15rem;
//   margin-right: 15rem;
// }

// input[type="search"] {
//   text-align: center;
//   color: black;
//   font-weight: bold;
//   border-radius: 2rem;
// }

// .beer-index-box {
//   margin: 0rem;
//   text-align: center;
//   margin-bottom: 1rem;
// }

// // .beer-index-tile-logo {
// //   height: 20rem;
// //   width: 10rem;
// // }
